@CHARSET "UTF-8";

html {
	margin: 15px 0px 0px 15px;
	width: calc(100% -15px);
	height: calc(100% -15px);
}

.main-div {
	font-size: 14px;
}

.video-type-tab {
	float: left;
	font-size: 16px;
	font-weight: 300;
	padding: 6px 18px;
	margin: 0px 15px 0px 0px;
	border: 1px solid #ddd;
	border-radius: 3px;
	cursor: pointer;
	transition: all .3s;
	-webkit-transition: all .3s;
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.video-type-tab:hover {
	border: 1px solid #1E9FFF;
	background-color: #1E9FFF;
	color: #fff;
}

.video-type-tab-this {
	border: 1px solid #1E9FFF;
	background-color: #1E9FFF;
	color: #fff;
}

.layui-form-item {
	font-size: 0;
}

.layui-inline {
	font-size: 14px;
}

.episodeOption {
	font-size: 0;
}

.search-item {
	margin-bottom: 15px;
}

.video-resource-div {
	width: 1000px;
	display: inline-block;
}

.video-poster-div {
	position: relative;
	height: 180px;
	width: 320px;
	border: 1px solid #DDD;
	border-radius: 4px;
	float: left;
	display: inline-block;
	margin: 5px 0px;
}

.video-poster-div .close {
	position: absolute;
	right: 0;
	width: 22px;
	height: 22px;
	line-height: 22px;
	border-radius: 50%;
	font-size: 20px;
	z-index: 999;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	background-color: #FF5722;
	color: #fff;
	display: none;
}

.video-info-div {
	display: inline-block;
	width: 1100px;
}

.video-poster {
	position: relative;
	height: 100%;
	width: 100%;
	border-radius: 4px;
	cursor: pointer;
	line-height: 170px;
	text-align: center;
}

.video-info {
	position: relative;
	height: 180px;
	margin-left: 10px;
	float: left;
	display: inline-block;
}

.video-name-input {
	width: 509px;
}

.ep-input {
	width: 150px;
	display: inline-block;
}

.episodeDiv .ctrl-div {
	display: inline-block;
	position: absolute;
	height: 38px;
	width: 20px;
	margin-left: 10px;
}

.episodeDiv .layui-icon {
	width: 22px;
	height: 15px;
	line-height: 15px;
	border: 1px solid #ddd;
	border-radius: 3px;
	font-size: 16px;
	padding: 0 3px;
	text-align: center;
	transition: all .2s;
	-webkit-transition: all .2s;
}

.margin-bottom4 {
	margin-bottom: 4px;
}

.episodeDiv .layui-icon:hover {
	border-radius: 3px;
	background-color: #1E9FFF;
	border: 1px solid #1E9FFF;
	color: #FFF;
	cursor: pointer;
}

.country-btn {
	width: 35px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	margin-right: 10px;
	padding: 0 10px;
	border-radius: 3px;
	cursor: pointer;
	background-color: #1E9FFF;
	color: #FFF;
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: all .3s;
	-webkit-transition: all .3s;
}

.ep-btn {
	width: 35px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: inline-block;
	font-size: 12px;
	font-weight: 300;
	margin-right: 10px;
	border-radius: 3px;
	cursor: pointer;
	background-color: #1E9FFF;
	color: #FFF;
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: all .3s;
	-webkit-transition: all .3s;
}

.ep-button:hover {
	opacity: .8;
	filter: alpha(opacity = 80);
	color: #fff
}

.resource-info {
	margin: 10px 0px;
}

.layui-form-item {
	margin: 5px 0px;
}

.layui-form-item .small {
	width: 150px;
}

.resource-item {
	margin-bottom: 5px;
	display: inline-block;
	display: none;
	width: 1000px;
}

.resource-item-info {
	display: inline-block;
	width: 920px;
}

.resource-item .del {
	position: relative;;
	float: right;
	right: 30px;
	top: 5px;
	display: inline-block;
}

.detail {
	width: 1000px;
	margin-bottom: 20px;
}

.remark {
	width: 1000px;
	margin-bottom: 20px;
}

.layui-textarea {
	resize: none !important;
	height: 200px !important;
}

.i-del {
	position: absolute;
	margin-left: 284px;
	font-size: 26px;
	color: #DDD;
	cursor: pointer;
	display: none;
	z-index: 99999;
}

.submit {
	display: inline-block;
	position: fixed;
	margin-left: 20px;
	bottom: 60px;
	z-index: 99999;
}

.display-none {
	display: none;
}

.display-inline-block {
	display: inline-block;
}

.layui-btn {
	margin-left: 0 !important;
	margin-right: 10px !important;
}